

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* width: 90%; */
    /* margin: auto; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    width: 100%;
    margin: auto;
    box-shadow: 0px 8px 16px rgba(153, 36, 36, 0.1);
}

nav {
    height: 72px;
    width: 100%;
    display: flex;
    box-shadow: 0px 8px 16px rgba(44, 5, 5, 0.05);
    position: fixed;
    top: 0;
    background-color: white;
    /* color: rgb(112, 255, 255); */
    color: #2681c7;
}

nav > div {
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
}

nav p {
    font-size: 24pt;
    margin: 0;
    /* text-decoration: none; */
}

nav a {
    margin-right: 32px;
    text-decoration: none;
    color: #16507b;
}

nav a:hover {
    color: #2487ce;
}

#buttonNav {
    width: 128px;
    height: 40px;
    font-size: 12pt;
    margin: 0;
}

nav select {
    border: none;
    margin-right: 16px;
    background-color: white;
    font-size: 12pt;
}

.filler {
    flex-grow: 1;
}

#home {
    background: linear-gradient(rgba(255, 255, 2555, .8), rgba(255, 255, 2555, .8)), url(images/hero-bg.jpg);
    /* overflow: hidden; */
    padding: 0;
    color: #124265;
    min-height: 100vh;
}

section {
    /* min-height: 100vh; */
    padding: 80px 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    flex-direction: column;
}

#title h1, p {
    margin: 0;
}

#title h1 {
    font-size: 52pt;
}

#title p {
    font-size: 16pt;
    margin-top: 8px;
}

#buttonTitle {
    width: 192px;
    height: 56px;
    /*margin-top: 24px;*/
    font-size: 14pt;
}

#blocks {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#blocks > div {
    /* box-shadow: ; */
    width: 20%;
    /* flex-grow: 1; */
    /* height: 36vh; */
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    margin: 16px 16px;
    background-color: white;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 48px 32px;
    border-radius: 8px;
}

#blocks > div:hover {
    transform: scale(1.1);
}

#blocks > div > img {
    height: 32px;
}

#aboutUs {
    text-align: center;
    padding: 80px 0;
}

#aboutUs h1 {
    font-size: 20pt;
}

#aboutUsContainer {
    display: flex;
    width: 80%;
    margin: auto;
}

.aboutUsContainerBlock {
    width: 50%;
    /* height: 100px; */
    text-align: left;
    padding: 16px;
}

.aboutUsContainerBlock li {
    margin: 16px 0px;
}

.aboutUsContainerBlock button {
    width: 140px;
    height: 40px;
    font-size: 12pt;
}

#counts {
    padding: 0;
    height: 200px;
    background-color: #f8fbfe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#counts div {
    width: 20%;
}

#counts h1 {
    font-size: 32pt;
    margin: 0;
    color: #16507b;
}

#counts p {
    color: #1f6da8;
    font-weight: bold;
    font-size: 10pt;
}

#woman {
    padding: 80px 0;
}

#woman > div {
    display: flex;
    width: 80%;
    margin: auto;
}

#woman > div > div {
    /* height: 500px; */
    width: 45%;
    padding: 0px 16px;
}

#woman img {
    width: 100%;
}

#woman h1 {
    margin: 0;
}

#woman li {
    margin: 16px 0;
}

#clients {
    padding: 0;
    height: 128px;
    background-color: #f8fbfe;
}

#clients > div {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#clients img {
    height: 40px;
    filter: grayscale(100);
    transition: all 500ms ease-in-out;
    /* transition: filter 500ms ease-in-out; */
}

#clients img:hover {
    transform: scale(1.2);
    filter: none;
}

#testemonials {
    text-align: center;
    padding: 80px 0;
}

#testemonials div{
    width: 80%;
    margin: auto;
}

#testemonials h1 {
    font-size: 20pt;
}

#testemonialsContainer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.testemonialsContainerBlock {
    width: 30%;
    /*height: 100px;*/
    text-align: center;
    /*background-color: #124265;*/
    padding: 24px;
    box-sizing: border-box;
    /*border-radius: 6px;*/
}

.testemonialsContainerBlock p {
    background-color: #f3f9fd;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 6px;
}

.testemonialsContainerBlock h3 {
    margin: 0;
}

.testemonialsContainerBlock h4 {
    color: gray;
    margin: 0;
}

.testemonialsContainerBlock img {
    margin-top: 24px;
    width: 90px;
    margin: auto;
    border-radius: 50%;
}

#services {
    background-color: #f8fbfe;
    text-align: center;
    padding: 80px 0;
}

#servicesContainer {
    width: 80%;
    margin: auto;
}

#servicesContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesBlock {
    /*display: flex;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    width: 28%;
    margin: 16px;
    /*height: 35vh;*/
    box-sizing: border-box;
    padding: 72px 16px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.servicesBlock img {
    width: 36px;
    margin: auto;
}

#callToAction {
    text-align: center;
    font-size: 16pt;
    background-color: #2487ce;
    color: white;
    padding: 60px 0;
}

#callToAction > div{
    width: 80%;
    margin: auto;
}

#callToAction button {
    width: 192px;
    height: 48px;
    font-size: 14pt;
}

#portfolio {
    background-color: #f8fbfe;
    text-align: center;
}

#portfolio > div {
    width: 80%;
    margin: auto;
}

#portfolioImages{
    display: flex;
    flex-wrap: wrap;
}

#portfolioImages img{
    width: 30%;
    margin: 16px;
}

#team {
    background-color: #f8fbfe;
    text-align: center;
}

#team > div {
    width: 80%;
    margin: auto;
}

#teamBlockContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teamBlock{
    background-color: white;
    width: 22%;
    margin: 1%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    padding-bottom: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}

.teamBlock h3 {
    color: #124265;
}

.teamBlock p {
    color: gray;
    font-size: 10pt;
}

.teamBlock img{
    width: 100%;
}

#pricing {
    /*background-color: #f8fbfe;*/
    text-align: center;
}

#pricing > div {
    width: 80%;
    margin: auto;
}

#pricingBlockContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricingBlock{
    background-color: white;
    width: 30%;
    margin: 1%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    padding: 48px 24px;
    box-sizing: border-box;
    border-radius: 8px;
}

#pricing ul {
    margin: 0;
    padding: 0;
}

#pricing li {
    list-style: none;
    padding-bottom: 16px;
}

#pricing span {
    color: gray;
    font-size: 16px;
    font-weight: 300;
}

.featured {
    color: white;
    background-color: #2487ce;
}

.strike {
    color: gray;
    text-decoration: line-through;
}

#faq {
    background-color: #f8fbfe;
    text-align: center;
}

#faq > div{
    width: 80%;
    margin: auto;
}

#faq ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#faq li {
    width: 80%;
    height: 64px;
    background-color: white;
    text-align: left;
}

#contact {
    background-color: none;
}

#contact {
    text-align: center;
}

#contact > div{
    width: 80%;
    margin: auto;
}

#contactContainer {
    display: flex;
}

#contactBlock1 {
    width: 35%;
}

#contactBlock2 {
    width: 65%;
}

#map {
    width: 100%;
    height: 384px;
    margin-bottom: 48px;
}

#map iframe{
    width: 100%;
    height: 384px;
}

.contactInfo {
    display: flex;
    margin-bottom: 32px;
    text-align: left;
}

.contactInfo img{
    height: 52px;
    background-color: #a2d1ff;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
}

.contactInfo div{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 8px;
}

.contactInfo h3, p{
    margin: 0;
    padding: 0;
    color: #124265;
}

#contactForm form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contactForm div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactFormCommon {
    box-sizing: border-box;
    padding: 4px 8px;
    margin-bottom: 16px;
    height: 48px;
    border: 1px solid gray;
    border-radius: 4px;
}

.contactHalf {
    width: 49%; 
}

.contactFull {
    width: 100%;
}

#contactTextArea {
    height: 128px;
}

#footer {
    background-color: #f8fbfe;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    padding: 0;
    color: gray;
}

#footer h4{
    color: #124265;
}

#footer > div {
    background-color: white;
}

#footer-top {
    display: flex;
    padding: 32px 10%;
    box-sizing: border-box;
}

#footer-top form{
    display: flex;
    margin-top: 32px;
}

#footer-top li{
    margin-top: 20px;
}

#footer-top a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    transition: all 0.3s ease-in-out;
}

#footer-top a:hover{
    color: #2487ce;
}

#footer-bottom {
    padding: 32px 10%;
    display: flex;
    box-sizing: border-box;
    background-color: #f8fbfe;
}

#footer-bottom a{
    text-decoration: none;
    color: #2487ce;
}

#footerEmailBox {
    width: calc(100% - 140px);
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 4px 0 0 4px;
    border: 1px solid gray;
    box-sizing: border-box;
}

#footerSubmit {
    width: 128px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
}

#footerBlock1 {
    width: 27.5%;
}

#footerBlock2 {
    width: 17.5%;
}

#footerBlock3 {
    width: 25%;
}

#footerBlock4 {
    width: 30%;
}

#backToTop {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.aButton {
    width: 40px;
    height: 40px;
    background-color: #2487ce;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 4px;
    transition: all 0.3s ease-in-out;
}

.aButton:hover {
    background-color: #2690db;
}

.aButton img {
    width: 100%;
    height: 100%;
}

.sectionDesc{
    color: gray;
    margin-bottom: 32px;
}

.sectionTitle {
    color: #124265;
}

/* Buttons CSS */
.buttonCommon {
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    margin-top: 24px;
    font-size: 12pt;
    width: 140px;
    height: 40px;
}
.buttonCommon:hover {
    cursor: pointer;
}

.buttonWhite {
    background-color: white;
    border: 3px solid #2487ce;
    color: #2487ce;
}
.buttonWhite:hover {
    background-color: #2690db;
    color: white;
}

.buttonBlue {
    background-color: #2487ce;
    border: 3px solid white;
    color: white;
}
.buttonBlue:hover {
    background-color: white;
    color: #2690db;
}

.buttonSolidBlue {
    background-color: #2487ce;
    border: none;
    color: white;
}
.buttonSolidBlue:hover {
    background-color: #2690db;
}

@media screen and (max-width: 1000px) {
    #title h1 {
        font-size: 28pt;
    }
    
    #blocks {
        flex-wrap: wrap;
    }
    
    #blocks > div {
        width: 40%;
        /* flex-wrap: wrap; */
    }

    #aboutUsContainer {
        flex-wrap: wrap;
    }
    
    .aboutUsContainerBlock {
        width: 100%;
    }
    #woman > div {
        flex-wrap: wrap;
    }
    
    #woman > div > div {
        width: 100%;
    }

    #clients > div {
        flex-wrap: wrap;
    }

    #clients > div > div {
        width: 30%;
    }

    #testemonialsContainer {
        flex-wrap: wrap;
    }
    
    .testemonialsContainerBlock {
        width: 100%
    }

    #servicesContainer > div {
        flex-wrap: wrap;
    }
    
    .servicesBlock {
        width: 45%
    }

    #teamBlockContainer {
        flex-wrap: wrap;
    }
    
    .teamBlock{
        width: 45%;
    }

    #pricingBlockContainer {
        flex-wrap: wrap;
    }
    
    .pricingBlock{
        width: 45%;
    }

    #contactContainer {
        flex-wrap: wrap;
    }

    #contactContainer > div{
        width: 100%;
    }

    #footer-top {
        flex-wrap: wrap;
    }

    #footer-top > div {
        width: 45%;
    }
}